::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-image: -moz-linear-gradient(90deg, #73469d 0%, #d0185e 99%);
  background-image: -webkit-linear-gradient(90deg, #73469d 0%, #d0185e 99%);
  background-image: -ms-linear-gradient(90deg, #73469d 0%, #d0185e 99%);
}

::-webkit-scrollbar-thumb:window-inactive {
  background-image: -moz-linear-gradient(90deg, #73469d 0%, #d0185e 99%);
  background-image: -webkit-linear-gradient(90deg, #73469d 0%, #d0185e 99%);
  background-image: -ms-linear-gradient(90deg, #73469d 0%, #d0185e 99%);
}

a, a:focus, button, button:focus, input, input:focus, textarea, textarea:focus {
  outline: 0 !important;
}

:focus {
  outline: 0 !important;
  outline-offset: 0 !important;
}

select, select:focus {
  outline: 0 !important;
}

html {
  position: relative;
}

body {
  position: relative;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: #fff;
  font-size: 18px;
  line-height: 24px;
  font-family: "Montserrat-Regular";
  color: #272a48;
}

p {
  margin: 0;
  padding: 0;
}

a:focus, a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.container {
  width: 1500px;
  margin: 0 auto;
}

.width2 {
  width: 1150px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.accent_color {
  color: #1c85bb;
}
.accent_color span {
  font-family: "Montserrat-Light" !important;
}

.button {
  background-image: -moz-linear-gradient(0deg, #73469d 0%, #d0185e 99%);
  background-image: -webkit-linear-gradient(0deg, #73469d 0%, #d0185e 99%);
  background-image: -ms-linear-gradient(0deg, #73469d 0%, #d0185e 99%);
  background-size: 100%;
  background-position: 0;
  box-shadow: 0px 12px 19px 0px rgba(71, 42, 91, 0.4);
  width: 359px;
  height: 79px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 39.5px;
  transition: all 1s;
  cursor: pointer;
  font-family: "Montserrat-SemiBold";
  font-size: 22px;
  color: #fff;
  will-change: transform;
  margin: 0 auto;
}
.button span {
  font-family: "Montserrat-Light";
}
.button:hover {
  background-size: 200%;
  background-position: 100%;
  box-shadow: 0 6px 10px 0 rgba(71, 42, 91, 0.4);
  transform: scale(1.05);
}

h2 {
  font-size: 50px;
  font-family: "Montserrat-ExtraBold";
  text-transform: uppercase;
  text-align: center;
  line-height: 65px;
  color: #272a48;
  margin-bottom: 40px;
}

h3 {
  font-family: "Montserrat-ExtraBold";
  font-size: 60px;
  line-height: 70px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 40px;
}

.upper_line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 46px;
}
.upper_line img {
  margin: 0 14px;
}
.upper_line .line {
  background-color: #1c85bb;
  width: 75px;
  height: 1px;
}

header {
  background: url(../img/header/bg.png) no-repeat;
  background-position: 0 0;
  position: relative;
  background-size: 31%;
  z-index: 3;
  padding-top: 56px;
  padding-bottom: 139px;
}
header .button {
  margin: 0;
}
header .holder {
  width: 1780px;
  margin: 0 auto;
  background: #fff;
  border-radius: 15px;
  box-shadow: -4.97px 16.257px 52px 0px rgba(15, 39, 70, 0.27);
  padding-bottom: 80px;
}
header .holder .img_bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 1003px;
}
header .holder .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 75px;
}
header .holder .container .logo {
  padding-bottom: 125px;
}
header .holder .container .text {
  font-family: "Montserrat-Medium";
  font-size: 53px;
  line-height: 100%;
  margin-bottom: 7px;
}
header .holder .container h1 {
  font-family: "Montserrat-Light";
  font-size: 120px;
  letter-spacing: 0.02em;
  line-height: 100%;
  display: flex;
  margin-bottom: 125px;
}
header .holder .container h1 span {
  font-family: "Montserrat-ExtraBold";
  border-bottom: 8px solid;
  line-height: 100%;
}
header .holder .container .text2 {
  font-family: "Montserrat-Medium";
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
header .holder .container .text2 span {
  font-family: "Montserrat-Bold";
}

main {
  overflow: hidden;
}
main .shef {
  position: relative;
}
main .shef .img_bg {
  position: absolute;
  left: 0;
  top: -300px;
}
main .shef h2 {
  margin-bottom: 60px;
}
main .shef .width2 {
  flex-direction: row;
}
main .shef .width2 .left {
  width: 50%;
  padding-top: 80px;
}
main .shef .width2 .left ul li {
  font-size: 18px;
  font-family: "Montserrat-Bold";
  line-height: 26px;
  position: relative;
  margin-bottom: 32px;
}
main .shef .width2 .left ul li .circle {
  position: absolute;
  top: 6px;
  right: calc(100% + 15px);
  width: 12px;
  height: 12px;
  background: #bec6f4;
  border-radius: 50%;
}
main .shef .width2 .left p {
  margin-top: 27px;
  font-family: "Montserrat-Italic";
  font-size: 18px;
  width: 530px;
  padding-bottom: 46px;
  border-bottom: 1px solid #000;
}
main .shef .width2 .left p span {
  font-family: "Montserrat-Bold";
}
main .shef .width2 .right {
  width: 50%;
  display: flex;
  padding-bottom: 108px;
}
main .shef .width2 .right .text {
  line-height: 74px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: right;
  font-family: "Montserrat-Medium";
  font-size: 18px;
}
main .shef .width2 .right .text span {
  font-family: "Montserrat-Bold";
}
main .shef .width2 .right .photo img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 22px 27px 0px rgba(0, 0, 0, 0.23);
}
main .shef .width2 .right .photo .name {
  font-family: "Montserrat-Medium";
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 33px;
  margin-bottom: 25px;
}
main .shef .width2 .right .photo p {
  font-family: "Montserrat-SemiBold";
  font-size: 18px;
}
main .shef .width2 .single-item {
  width: 100%;
}
main .shef .width2 .single-item:after {
  content: "";
  height: 1px;
  width: 100%;
  background: #bec6f4;
  top: 178px;
  position: absolute;
}
main .shef .width2 .single-item .item {
  border-radius: 10px;
  width: 365px;
  height: 450px;
  box-sizing: border-box;
  padding-top: 45px;
  transition: all 0.5s;
}
main .shef .width2 .single-item .item .text {
  padding-bottom: 21px;
  font-family: "Montserrat-SemiBold";
  font-size: 20px;
  text-align: center;
}
main .shef .width2 .single-item .item .circle-dashed {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 39px;
}
main .shef .width2 .single-item .item .circle-dashed .circle {
  border-radius: 50%;
  background-color: #1c85bb;
  width: 16px;
  height: 16px;
}
main .shef .width2 .single-item .item .circle-dashed .circle2 {
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 43px;
  width: 64px;
  height: 64px;
}
main .shef .width2 .single-item .item .circle-dashed .circle2 .circle3 {
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 22px 27px 0px rgba(0, 0, 0, 0.23);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 42px;
  height: 42px;
  z-index: 2;
}
main .shef .width2 .single-item .item .circle-dashed .dashed {
  width: 1px;
  height: 140px;
  background-image: -webkit-linear-gradient(black 60%, rgba(255, 255, 255, 0) 0%);
  background-image: -o-linear-gradient(black 60%, rgba(255, 255, 255, 0) 0%);
  background-image: linear-gradient(black 60%, rgba(255, 255, 255, 0) 0%);
  background-position: right;
  background-size: 1px 10px;
  background-repeat: repeat-y;
  margin: 5px 0;
  z-index: 1;
}
main .shef .width2 .single-item .item .text2 {
  font-size: 16px;
  text-align: center;
  padding: 0 5px;
}
main .shef .width2 .single-item .slick-slide {
  transform: scale(0.8);
  background: none;
}
main .shef .width2 .single-item .slick-slide .circle-dashed .circle2 {
  background: none;
}
main .shef .width2 .single-item .slick-slide p, main .shef .width2 .single-item .slick-slide .circle, main .shef .width2 .single-item .slick-slide .dashed {
  opacity: 0.5;
}
main .shef .width2 .single-item .slick-active {
  transform: scale(1);
  background-image: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 1%, #ebedfb 100%);
  background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 1%, #ebedfb 100%);
  background-image: -ms-linear-gradient(90deg, rgba(255, 255, 255, 0) 1%, #ebedfb 100%);
  margin-top: 0;
  will-change: transform;
}
main .shef .width2 .single-item .slick-active .circle-dashed .circle2 {
  background-color: rgba(39, 42, 72, 0.102);
}
main .shef .width2 .single-item .slick-active p, main .shef .width2 .single-item .slick-active .circle, main .shef .width2 .single-item .slick-active .dashed {
  opacity: 1;
}
main .shef .progress {
  font-size: 36px;
  font-family: "Montserrat-ExtraBold";
  margin-bottom: 70px;
  text-align: center;
  line-height: 100%;
  width: 100%;
}
main .reviews {
  padding-bottom: 48px;
}
main .reviews .width2 {
  position: relative;
}
main .reviews .width2 .single-item {
  width: 100%;
  z-index: 2;
}
main .reviews .width2 .single-item .slick-next, main .reviews .width2 .single-item .slick-prev {
  top: 0;
  bottom: 0;
  margin: auto;
}
main .reviews .width2 .single-item .item {
  border-radius: 10px;
  width: 365px;
  box-sizing: border-box;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .reviews .width2 .single-item .item img {
  border-radius: 5px;
  box-shadow: 0px 22px 27px 0px rgba(0, 0, 0, 0.23);
  z-index: 2;
  height: 263px;
  max-width: 100%;
  margin-top: 60px;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.5s;
}
main .reviews .width2 .single-item .item img:hover {
  opacity: 1;
}
main .reviews .width2 .single-item .item .text {
  margin-top: 25px;
  z-index: 1;
}
main .reviews .width2 .single-item .item .text p {
  line-height: 100%;
}
main .reviews .width2 .single-item .item .text p:nth-child(1) {
  padding-bottom: 16px;
  font-family: "Montserrat-SemiBold";
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}
main .reviews .width2 .single-item .item .text p:nth-child(2) {
  font-family: "Montserrat-Medium";
  font-size: 18px;
  text-align: center;
  color: #626374;
  padding-bottom: 4px;
}
main .reviews .width2 .single-item .item .circle-dashed {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  height: 100%;
  display: none;
}
main .reviews .width2 .single-item .item .circle-dashed .circle2 {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  min-height: 64px;
  position: relative;
  background-color: rgba(39, 42, 72, 0.102);
}
main .reviews .width2 .single-item .item .circle-dashed .circle2 .circle3 {
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 22px 27px 0px rgba(0, 0, 0, 0.23);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 42px;
  height: 42px;
  z-index: 2;
}
main .reviews .width2 .single-item .item .circle-dashed .dashed {
  width: 1px;
  height: 100%;
  background-image: -webkit-linear-gradient(black 60%, rgba(255, 255, 255, 0) 0%);
  background-image: -o-linear-gradient(black 60%, rgba(255, 255, 255, 0) 0%);
  background-image: linear-gradient(black 60%, rgba(255, 255, 255, 0) 0%);
  background-position: right;
  background-size: 1px 10px;
  background-repeat: repeat-y;
  margin: 5px 0;
  z-index: 1;
}
main .reviews .width2 .single-item .item .circle-dashed .circle {
  border-radius: 50%;
  background-color: #1c85bb;
  width: 16px;
  height: 16px;
  min-height: 16px;
}
main .reviews .width2 .single-item .item .text2 {
  font-size: 16px;
  text-align: center;
  padding: 0 5px;
}
main .reviews .width2 .single-item .slick-slide {
  transform: scale(0.8);
  background: none;
  opacity: 0.8;
}
main .reviews .width2 .single-item .slick-active {
  transform: scale(1);
  will-change: transform;
  opacity: 1;
}
main .reviews .width2 .effect {
  position: absolute;
  top: 0;
  z-index: 1;
}
main .reviews .width2 .effect:after {
  display: none;
}
main .reviews .width2 .effect img, main .reviews .width2 .effect .text {
  opacity: 0;
}

.bg-form-close {
  display: flex;
  width: 100%;
  position: fixed;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  z-index: 0;
  top: 0;
}
.bg-form-close .close {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.bg-form-close.active {
  opacity: 1;
  z-index: 999;
}

.form-holder {
  position: relative;
}
.form-holder .amoforms_iframe {
  width: 500px !important;
  height: 700px !important;
  position: relative !important;
  z-index: 2 !important;
  max-width: 100%;
  min-height: 100%;
}
.form-holder .close2 {
  position: absolute;
  z-index: 3;
  top: 50px;
  right: 30px;
  cursor: pointer;
}

.nav-btn2 {
  position: relative;
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 0 auto;
  right: 0;
  left: 0;
}

.show-menu-btn {
  position: absolute;
  right: 0;
  top: 7px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.34s ease-in-out;
  transition: 0.34s ease-in-out;
  cursor: pointer;
  z-index: 10000;
}

.show-menu-btn span {
  display: block;
  position: absolute;
  background: #000;
  height: 2px;
  width: 25px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  top: 22px;
}

.show-menu-btn span:nth-child(1) {
  top: 0;
}

.show-menu-btn span:nth-child(2) {
  top: 7px;
}

.show-menu-btn span:nth-child(3) {
  top: 14px;
}

.show-menu-btn.open span {
  top: 7px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  width: 30px;
}

.show-menu-btn.open span:nth-child(2) {
  left: -60px;
  opacity: 0;
}

.show-menu-btn.open span:nth-child(3) {
  top: 7px;
  width: 30px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

footer {
  overflow: hidden;
  height: 166px;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.129);
  z-index: 1;
  position: relative;
}
footer .width2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0 !important;
}
footer .width2 .img2 {
  background: url(../img/footer/logo.png);
  width: 160px;
  height: 47px;
  background-size: 100% 100%;
}
footer .width2 .contact {
  display: flex;
  align-items: center;
}
footer .width2 .contact img {
  cursor: pointer;
  will-change: transform;
  transition: all 0.5s;
}
footer .width2 .contact img:hover {
  transform: scale(1.05);
}
footer .width2 .contact img:nth-child(2n) {
  margin-left: 22px;
}
footer .width2 .contact div {
  display: none;
}
footer .width2 .contact p {
  font-family: "Montserrat-Medium";
  font-size: 18px;
  letter-spacing: -0.04em;
  color: #fff;
  line-height: 31px;
  text-align: center;
}
footer .width2 .developer {
  display: flex;
  align-items: center;
}
footer .width2 .developer:hover p {
  color: #1c85bb !important;
}
footer .width2 .developer p {
  font-family: "Montserrat-Bold";
  text-transform: uppercase;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  margin-right: 20px;
  text-align: center;
  transition: all 0.5s;
}
footer .width2 .developer .img {
  width: 123px;
  height: 41px;
  background: url(../img/footer/logo2.png);
  background-size: 100% 100%;
}

@media screen and (max-width: 1900px) {
  header {
    padding-top: 45px;
  }
  header .holder {
    width: 1500px;
    padding-bottom: 69px;
  }
  header .holder .img_bg {
    width: 824px;
  }
  header .holder .container .logo {
    padding-bottom: 80px;
  }
  header .holder .container .text {
    font-size: 45px;
  }
  header .holder .container h1 {
    font-size: 100px;
    margin-bottom: 74px;
  }
  header .holder .container .text2 {
    font-size: 18px;
    line-height: 26px;
  }

  .container {
    width: 1300px;
  }
}
@media screen and (max-width: 1590px) {
  header {
    padding-top: 41px;
  }
  header .holder {
    width: 1300px;
    padding-bottom: 64px;
  }
  header .holder .img_bg {
    width: 716px;
  }
  header .holder .container .logo {
    padding-bottom: 60px;
  }
  header .holder .container .text {
    font-size: 35px;
  }
  header .holder .container h1 {
    font-size: 80px;
    margin-bottom: 54px;
  }
  header .holder .container .text2 {
    font-size: 18px;
    line-height: 26px;
  }

  .container {
    width: 1150px;
  }

  h2 {
    font-size: 45px;
  }
}
@media screen and (max-width: 1390px) {
  header .holder {
    width: 1250px;
  }
}
@media screen and (max-width: 1350px) {
  header .holder {
    width: 1180px;
    padding-bottom: 80px;
  }

  .container {
    width: 1050px;
  }

  header .holder .img_bg {
    width: 642px;
  }

  header .holder .container .logo {
    width: 150px;
  }

  header .holder .container {
    padding-top: 63px;
  }

  header .holder .container .text {
    font-size: 30px;
  }

  header .holder .container h1 {
    font-size: 68px;
    margin-bottom: 40px;
  }

  header .holder .container .text2 {
    font-size: 16px;
    line-height: 20px;
  }

  .button {
    width: 300px;
    height: 70px;
    font-size: 20px;
  }
}
@media screen and (max-width: 1200px) {
  footer {
    padding: 50px 0;
    height: auto;
  }
  footer .width2 {
    justify-content: space-between;
  }
  footer .width2 .contact {
    margin: 40px 0;
  }

  h2, h3 {
    font-size: 30px;
    line-height: 100%;
    text-align: center !important;
  }
  h2 br, h3 br {
    display: none;
  }

  h2 {
    margin-bottom: 20px;
  }

  header .holder {
    width: 92%;
  }
  header .holder .img_bg {
    display: none;
  }
  header .holder .container {
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }

  .width2 {
    width: 92% !important;
  }

  .container {
    width: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  header {
    padding-bottom: 80px;
  }

  h2, h3 {
    font-size: 22px;
  }

  footer .width2 {
    flex-direction: column;
  }
  footer .width2 .contact {
    flex-direction: column;
  }
  footer .width2 .contact div {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  footer .width2 .contact img {
    margin-right: 0;
    margin-bottom: 10px;
  }
  footer .width2 .contact p {
    text-align: center;
  }

  footer .width2 .developer p {
    font-size: 14px;
    line-height: 20px;
  }
  footer .width2 .developer img {
    margin-bottom: 20px;
  }

  header .holder .container .text {
    font-size: 24px;
  }

  header .holder .container h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }

  header .holder .container .text2 {
    margin-bottom: 40px;
  }

  header .holder {
    padding-bottom: 40px;
  }

  ._form-content input {
    max-width: 100%;
  }

  #_form_2_submit {
    max-height: 60px !important;
  }

  ._form-title {
    margin-top: 50px !important;
  }
}
@-webkit-keyframes triangle {
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes triangle {
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.anim_triangle {
  -webkit-animation-name: triangle;
  animation-name: triangle;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
}

@-webkit-keyframes triangle2 {
  25% {
    width: 100%;
  }
  50% {
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
  }
  75% {
    width: 100%;
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@keyframes triangle2 {
  25% {
    width: 100%;
  }
  50% {
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
  }
  75% {
    width: 100%;
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
.anim_triangle2 {
  -webkit-animation-name: triangle;
  animation-name: triangle;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
}

#_form_2_ {
  font-size: 14px;
  line-height: 1.6;
  font-family: arial, helvetica, sans-serif;
  margin: 0;
}

#_form_2_ * {
  outline: 0;
}

._form_hide {
  display: none;
  visibility: hidden;
}

._form_show {
  display: block;
  visibility: visible;
}

#_form_2_._form-top {
  top: 0;
}

#_form_2_._form-bottom {
  bottom: 0;
}

#_form_2_._form-left {
  left: 0;
}

#_form_2_._form-right {
  right: 0;
}

#_form_2_ input[type=text], #_form_2_ input[type=date], #_form_2_ textarea {
  padding: 6px;
  height: auto;
  border: #979797 1px solid;
  border-radius: 4px;
  color: #000 !important;
  font-size: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#_form_2_ textarea {
  resize: none;
}

#_form_2_ ._submit {
  -webkit-appearance: none;
  cursor: pointer;
  font-family: arial, sans-serif;
  font-size: 14px;
  text-align: center;
  background: #333 !important;
  border: 0 !important;
  -moz-border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
  border-radius: 4px !important;
  color: #fff !important;
  padding: 10px !important;
}

#_form_2_ ._close-icon {
  cursor: pointer;
  background-image: url("https://d226aj4ao1t61q.cloudfront.net/esfkyjh1u_forms-close-dark.png");
  background-repeat: no-repeat;
  background-size: 14.2px 14.2px;
  position: absolute;
  display: block;
  top: 11px;
  right: 9px;
  overflow: hidden;
  width: 16.2px;
  height: 16.2px;
}

#_form_2_ ._close-icon:before {
  position: relative;
}

#_form_2_ ._form-body {
  margin-bottom: 30px;
}

#_form_2_ ._form-image-left {
  width: 150px;
  float: left;
}

#_form_2_ ._form-content-right {
  margin-left: 164px;
}

#_form_2_ ._form-branding {
  color: #fff;
  font-size: 10px;
  clear: both;
  text-align: left;
  margin-top: 30px;
  font-weight: 100;
}

#_form_2_ ._form-branding ._logo {
  display: block;
  width: 130px;
  height: 14px;
  margin-top: 6px;
  background-image: url("../img/bg_popup.png");
  background-size: 130px auto;
  background-repeat: no-repeat;
}

#_form_2_ ._form-label, #_form_2_ ._form_element ._form-label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

#_form_2_._dark ._form-branding {
  color: #333;
}

#_form_2_._dark ._form-branding ._logo {
  background-image: url("https://d226aj4ao1t61q.cloudfront.net/jftq2c8s_aclogo_dk.png");
}

#_form_2_ ._form_element {
  position: relative;
  margin-bottom: 10px;
  font-size: 0;
  max-width: 100%;
}

#_form_2_ ._form_element * {
  font-size: 14px;
}

#_form_2_ ._form_element._clear {
  clear: both;
  width: 100%;
  float: none;
}

#_form_2_ ._form_element._clear:after {
  clear: left;
}

#_form_2_ ._form_element input[type=text], #_form_2_ ._form_element input[type=date], #_form_2_ ._form_element select, #_form_2_ ._form_element textarea:not(.g-recaptcha-response) {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#_form_2_ ._field-wrapper {
  position: relative;
}

#_form_2_ ._inline-style {
  float: left;
}

#_form_2_ ._inline-style input[type=text] {
  width: 150px;
}

#_form_2_ ._inline-style:not(._clear) + ._inline-style:not(._clear) {
  margin-left: 20px;
}

#_form_2_ ._form_element img._form-image {
  max-width: 100%;
}

#_form_2_ ._clear-element {
  clear: left;
}

#_form_2_ ._full_width {
  width: 100%;
}

#_form_2_ ._form_full_field {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

#_form_2_ input[type=text]._has_error, #_form_2_ textarea._has_error {
  border: #f37c7b 1px solid;
}

#_form_2_ input[type=checkbox]._has_error {
  outline: #f37c7b 1px solid;
}

#_form_2_ ._error {
  display: block;
  position: absolute;
  font-size: 13px;
  z-index: 10000001;
}

#_form_2_ ._error._above {
  padding-bottom: 4px;
  top: -41px;
  right: 0;
}

#_form_2_ ._error._below {
  padding-top: 4px;
  top: 100%;
  right: 0;
}

#_form_2_ ._error._above ._error-arrow {
  bottom: 0;
  right: 15px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #f37c7b;
}

#_form_2_ ._error._below ._error-arrow {
  top: 0;
  right: 15px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #f37c7b;
}

#_form_2_ ._error-inner {
  padding: 8px 12px;
  background-color: #f37c7b;
  font-size: 13px;
  font-family: arial, sans-serif;
  color: #fff;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#_form_2_ ._error-inner._form_error {
  margin-bottom: 5px;
  text-align: left;
}

#_form_2_ ._button-wrapper ._error-inner._form_error {
  position: static;
}

#_form_2_ ._error-inner._no_arrow {
  margin-bottom: 10px;
}

#_form_2_ ._error-arrow {
  position: absolute;
  width: 0;
  height: 0;
}

#_form_2_ ._error-html {
  margin-bottom: 10px;
}

.pika-single {
  z-index: 10000001 !important;
}

#_form_2_ ._submit {
  background-image: -moz-linear-gradient(0deg, #73469d 0%, #d0185e 99%) !important;
  background-image: -webkit-linear-gradient(0deg, #73469d 0%, #d0185e 99%) !important;
  background-image: -ms-linear-gradient(0deg, #73469d 0%, #d0185e 99%) !important;
  background-size: 100% !important;
  background-position: 0 !important;
  box-shadow: 0px 12px 19px 0px rgba(71, 42, 91, 0.4) !important;
  width: 359px !important;
  max-width: 100%;
  height: 79px !important;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 39.5px !important;
  transition: all 1s !important;
  cursor: pointer !important;
  font-family: "Montserrat-SemiBold" !important;
  font-size: 22px !important;
  color: #fff !important;
  will-change: transform !important;
  margin: 0 auto !important;
  margin-bottom: 48px !important;
}

#_form_2_ ._submit:hover {
  background-size: 200% !important;
  background-position: 100% !important;
  box-shadow: 0 6px 10px 0 rgba(71, 42, 91, 0.4) !important;
  transform: scale(1.05) !important;
}

#_form_2_ input, #_form_2_ ._html-code input {
  box-sizing: border-box;
  border-radius: 0 !important;
  width: 359px !important;
  margin: 0 auto;
  border-width: 1px;
  border-color: #c4c8cc !important;
  border-style: solid;
  height: 50px !important;
  text-align: center;
  font-family: "Montserrat-Light" !important;
  font-size: 16px !important;
  margin-bottom: 19px;
}

#_form_2_ ._x15025761 ._form-title {
  text-align: center !important;
  line-height: 34px !important;
  color: #010101;
  width: 220px !important;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 50px;
  text-transform: uppercase !important;
}

#_form_2_._form_2 {
  height: auto;
  border-radius: 10px !important;
  box-shadow: 0px 11px 18px 0px rgba(0, 0, 0, 0.5) !important;
  background: url(../img/bg_popup.png) !important;
}

#_form_2_ ._html-code {
  display: flex;
}

#_form_2_ ._x99720957 {
  margin-bottom: -5px !important;
}

@media all and (min-width: 320px) and (max-width: 667px) {
  ::-webkit-scrollbar {
    display: none;
  }

  .form-holder {
    width: 95%;
  }

  .intl-tel-input {
    width: 100%;
  }

  #_form_2_ ._submit {
    font-size: 14px !important;
  }

  #_form_2_ {
    margin: 0;
    width: 100%;
    min-width: 100%;
    max-width: 100% !important;
    box-sizing: border-box !important;
    width: auto !important;
  }

  #_form_2_ * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
  }

  #_form_2_ ._form-content {
    margin: 0;
    width: 100%;
  }

  #_form_2_ ._form-inner {
    display: block;
    min-width: 100%;
  }

  #_form_2_ ._form-title, #_form_2_ ._inline-style {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }

  #_form_2_ ._form-title {
    font-size: 1.2em;
  }

  #_form_2_ ._form_element {
    margin: 0 0 20px;
    padding: 0;
    width: 100%;
  }

  #_form_2_ ._form-element, #_form_2_ ._inline-style, #_form_2_ input[type=text], #_form_2_ label, #_form_2_ p, #_form_2_ textarea:not(.g-recaptcha-response) {
    float: none;
    display: block;
    width: 100%;
  }

  #_form_2_ ._row._checkbox-radio label {
    display: inline;
  }

  #_form_2_ ._row, #_form_2_ p, #_form_2_ label {
    margin-bottom: 0.7em;
    width: 100%;
  }

  #_form_2_ ._row input[type=checkbox], #_form_2_ ._row input[type=radio] {
    margin: 0 !important;
    vertical-align: middle !important;
  }

  #_form_2_ ._row input[type=checkbox] + span label {
    display: inline;
  }

  #_form_2_ ._row span label {
    margin: 0 !important;
    width: initial !important;
    vertical-align: middle !important;
  }

  #_form_2_ ._form-image {
    max-width: 100%;
    height: auto !important;
  }

  #_form_2_ input[type=text] {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    line-height: 1.3em;
    -webkit-appearance: none;
  }

  #_form_2_ input[type=radio], #_form_2_ input[type=checkbox] {
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    font-size: 1em;
    margin: 0 0.3em 0 0;
    vertical-align: baseline;
  }

  #_form_2_ button[type=submit] {
    padding: 20px;
    font-size: 1.5em;
  }

  #_form_2_ ._inline-style {
    margin: 20px 0 0 !important;
  }
}
#_form_2_ {
  position: relative;
  text-align: left;
  margin: 25px auto 0;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  background: #fff !important;
  border: 0px solid #b0b0b0 !important;
  width: 466px;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
  color: #000 !important;
}

#_form_2_ ._form-title {
  font-size: 22px;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 0;
}

#_form_2_:before, #_form_2_:after {
  content: " ";
  display: table;
}

#_form_2_:after {
  clear: both;
}

#_form_2_._inline-style {
  width: auto;
  display: inline-block;
}

#_form_2_._inline-style input[type=text], #_form_2_._inline-style input[type=date] {
  padding: 10px 12px;
}

#_form_2_._inline-style button._inline-style {
  position: relative;
  top: 27px;
}

#_form_2_._inline-style p {
  margin: 0;
}

#_form_2_._inline-style ._button-wrapper {
  position: relative;
  margin: 27px 12.5px 0 20px;
}

#_form_2_ ._form-thank-you {
  position: relative;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 18px;
}

@media all and (min-width: 320px) and (max-width: 667px) {
  #_form_2_._inline-form._inline-style ._inline-style._button-wrapper {
    margin-top: 20px !important;
    margin-left: 0 !important;
  }
}
main {
  padding-top: 61px;
  width: 100%;
  position: relative;
  z-index: 1;
}
main .top .width2 {
  flex-direction: row;
}
main .top .width2 .left {
  width: 50%;
  text-align: center;
  position: relative;
}
main .top .width2 .left .text {
  font-size: 20px;
  text-transform: uppercase;
  position: absolute;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  top: 0;
  left: -50px;
  text-align: right;
}
main .top .width2 .left .text .text2 {
  text-transform: initial;
  margin-right: 20px;
}
main .top .width2 .left .text .text2 span {
  font-family: "Montserrat-Bold";
}
main .top .width2 .left img {
  height: 100%;
}
main .top .width2 .right {
  width: 50%;
  padding-top: 50px;
  padding-left: 40px;
}
main .top .width2 .right h2 {
  text-align: left;
}
main .top .width2 .right .text {
  font-size: 18px;
  line-height: 26px;
  width: 410px;
  margin-bottom: 60px;
}
main .top .width2 .right .text .accent_color {
  font-family: "Montserrat-Bold";
}
main .top .width2 .right .text2 {
  font-family: "Montserrat-SemiBold";
  font-size: 20px;
  line-height: 26px;
}
main .top .width2 .right .button {
  width: 418px;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 68px;
}
main .top .width2 .right .text3 {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 60px;
}
main .top .width2 .right .text3 .accent_color {
  font-family: "Montserrat-Bold";
}

.footer {
  background: url(../img/thanks/bg.png) no-repeat 100% 100%;
  padding-top: 270px;
  position: relative;
  z-index: 1;
  margin-top: -86px;
}
.footer .width2 .content {
  position: relative;
  z-index: 2;
  padding-top: 157px;
  text-align: center;
  padding: 157px 140px 140px 140px;
  border-radius: 10px;
  background-image: -moz-linear-gradient(90deg, rgba(0, 62, 101, 0) 0%, rgba(0, 62, 101, 0.6) 100%), -moz-linear-gradient(90deg, rgba(0, 62, 101, 0) 0%, rgba(0, 62, 101, 0.6) 100%), -moz-linear-gradient(90deg, rgba(0, 62, 101, 0) 0%, rgba(0, 62, 101, 0.6) 100%), -moz-linear-gradient(90deg, rgba(0, 62, 101, 0) 0%, rgba(0, 62, 101, 0.6) 100%);
  background-image: -webkit-linear-gradient(90deg, rgba(0, 62, 101, 0) 0%, rgba(0, 62, 101, 0.6) 100%), -webkit-linear-gradient(90deg, rgba(0, 62, 101, 0) 0%, rgba(0, 62, 101, 0.6) 100%), -webkit-linear-gradient(90deg, rgba(0, 62, 101, 0) 0%, rgba(0, 62, 101, 0.6) 100%), -webkit-linear-gradient(90deg, rgba(0, 62, 101, 0) 0%, rgba(0, 62, 101, 0.6) 100%);
  background-image: -ms-linear-gradient(90deg, rgba(0, 62, 101, 0) 0%, rgba(0, 62, 101, 0.6) 100%), -ms-linear-gradient(90deg, rgba(0, 62, 101, 0) 0%, rgba(0, 62, 101, 0.6) 100%), -ms-linear-gradient(90deg, rgba(0, 62, 101, 0) 0%, rgba(0, 62, 101, 0.6) 100%), -ms-linear-gradient(90deg, rgba(0, 62, 101, 0) 0%, rgba(0, 62, 101, 0.6) 100%);
}
.footer .width2 .content p {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #fff;
  margin-bottom: 70px;
}
.footer .width2 .content p span {
  font-family: "Montserrat-Bold";
}
.footer .width2 .content .button {
  width: 458px;
}
.footer .width2 .img_bg {
  position: absolute;
  right: 10%;
  top: 170px;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .width2 .img_bg .anim_triangle2 {
  width: 60%;
  transition: all 0.5s;
}
.footer .width2 .img_bg .circle {
  position: absolute;
  width: 94%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.footer .width2 .img_bg .circle .circle1 {
  border-radius: 50%;
  box-shadow: 0px 36px 24px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 3;
  width: 100%;
}
.footer .width2 .img_bg .circle .circle2 {
  z-index: 2;
}
.footer .width2 .img_bg .circle .circle2, .footer .width2 .img_bg .circle .circle3 {
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px 11px 24px 0px rgba(0, 0, 0, 0.19);
  width: 145%;
}
.footer .width2 .img_bg .circle .circle3 {
  width: 185%;
  height: 185%;
  background-color: rgba(111, 178, 212, 0.059);
  z-index: 1;
}
.footer .width2 .img_bg .circle .circle3 img {
  position: absolute;
  bottom: 10%;
  left: 50%;
  opacity: 0.2;
  width: 30%;
  height: 31%;
  filter: hue-rotate(10deg);
  display: none;
}

@media screen and (max-width: 1390px) {
  main {
    padding-top: 20px;
  }

  main .top .width2 .left img {
    height: 700px;
  }
}
@media screen and (max-width: 1350px) {
  main .top .width2 .left img {
    height: 650px;
  }

  main .top .width2 .right {
    padding-top: 0;
  }

  main .top .width2 .left .text {
    left: -20px;
  }
}
@media screen and (max-width: 1200px) {
  .footer {
    background: #002b4d;
    margin-top: 0;
    padding-top: 150px;
  }
  .footer .width2 .img_bg {
    top: 20px;
  }
  .footer .width2 .content {
    padding: 50px 10px 100px 10px;
  }
  .footer .width2 .content br:nth-child(2), .footer .width2 .content br:nth-child(10) {
    display: none;
  }

  main .top .width2 {
    flex-direction: column-reverse;
    padding-top: 40px;
  }
  main .top .width2 .left, main .top .width2 .right {
    width: 100%;
  }
  main .top .width2 .right {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .top .width2 .right .text2, main .top .width2 .right .text3 {
    text-align: center;
  }
  main .top .width2 .left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .top .width2 .left .text {
    position: static;
    text-align: center;
    writing-mode: lr-tb;
    transform: rotate(0deg);
  }
  main .top .width2 .left .text .text2 {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  main .top .width2 .right .button, .footer .width2 .content .button {
    width: 300px;
    font-size: 16px;
  }

  main .top .width2 .right .text {
    width: auto;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  main .top .width2 .right .text, main .top .width2 .right .text3 {
    font-size: 14px;
    line-height: 20px;
  }

  main .top .width2 .right .text2 {
    font-size: 16px;
    line-height: 22px;
  }

  main .top .width2 .right .button, .footer .width2 .content .button {
    height: 60px;
    margin-bottom: 20px;
    margin-top: 30px;
    max-width: 100%;
  }

  main .top .width2 .left .text {
    font-size: 16px;
  }
  main .top .width2 .left .text .text2 {
    font-size: 13px;
    margin-top: 0;
  }

  main .top .width2 .left img {
    width: 100%;
    height: auto;
  }

  .footer .width2 .content p {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
  }
}

/*# sourceMappingURL=thanks.css.map */
